

<% include('../layouts/header.ejs') %> 


<link rel="stylesheet" href="css/login.css">

<div class="parent clearfix">
    <div class="bg-illustration">
      <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">
    </div>
    
    <div class="login">
      <div class="container">
        <h1>Reset Password</h1>

        <div class="login-form">
          <form action="" method="post">
            <input type="password" name="password" required placeholder="Enter password">
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <button type="submit" value="Reset Password">Reset Password</button>
            <br>
            <span class="registeration">Back to  <a href="/login">Login</a></span>
          </form>
        </div>
    
      </div>
    </div>
</div>


  

<% include('../layouts/footer.ejs') %> 